#location-for-grid {
    margin: 10px;
    padding: 5px;
    width: 300px;
    border: 2px solid gray;
    align-items: center;
    text-align: center;
}

#location-description {
    font-style: italic;
}

#location-description {
    padding: 10px 0px 0px 0px;
}