#left-nav-container {
    width: 205px;
    height: 98%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

}

#left-nav-logo {
    display: flex;
    justify-content: space-around;

}

#left-nav-content {
    display: flex;
    justify-content: space-around;
}

#nav-link {
    font-size: 20px;
}

#user-stats {
    border: 3px darkgray solid;
    border-radius: 10px;
    padding: 10px;
}