#app-container {
    display: flex;
    height: 100vh;
}

#left-app {
    margin: 10px;
    left: 0px;
    top: 0px;
    position: fixed;
    height: 100vh;
}

#left-dummy-app {
    margin: 0px;
    left: 0px;
    width: 225px;
}

#right-app {
    width: fit-content;
}

#dummy {
    width: 225px;
}