/* TODO Add site wide styles */
body {
    font-family: 'Courier New', arial;
    margin: 0px;
    height: 100vh;
    background-color: black;
    color: white;
}

#error {
    color: red;
}

button {
    font-family: 'Courier New', arial;
}

h1,
h2,
h3 {
    text-align: center;
}

html {
    height: 100vh;
}

a:link {
    color: blue;
}

a:visited {
    color: blue;
}