/* TODO Add site wide styles */
body {
    font-family: 'Courier New', arial;
    margin: 0px;
    height: 100vh;
    background-color: black;
    color: white;
}

button {
    font-family: 'Courier New', arial;
}

html {
    height: 100vh;
}