#modal {
  position: fixed;
  top: 0;
  right: 0;
  left: 10%;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 80%;
}

#modal-background {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.7);

}

#modal-content {
  position: absolute;
  background-color: black;
  border: white 2px solid;
  border-radius: 15px;
  padding: 15px;
}

#error {
  color: red;
  text-align: center;
}

.modal-form {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.modal-form label {
  width: 40%;
  text-align: right;
  padding: 5px
}

.modal-form input {
  width: 40%;
}